# App config
APP_NAME=Company-Profile
APP_ENV=development
PORT=8080
GIN_MODE=debug

# Database config
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD= 
DB_NAME=
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta

#sqids config
SQIDS_ALPHABET=
SQIDS_MIN_LENGTH=

#admin
BOOTSTRAP_ADMIN_EMAIL=
BOOTSTRAP_ADMIN_PASSWORD=
